In [4]:
from math import pi, sqrt

In [10]:
def area(r, shape_constant):
    assert r > 0, "A length must be positive"
    return r * r * shape_constant
 
def area_circle(r):
    return area(r, pi)

def area_hexagon(r):
    return area(r, 3*sqrt(3)/2)

In [11]:
area_hexagon(10)

259.8076211353316

In [14]:
def sum_naturals(n):
    """Sum the first N natural numbers
    >>>sum_naturals(5)
    5
    """
    total, k = 0, 1
    while k <= n: 
        total, k = total + k, k + 1
    return total

In [16]:
def sum_cubes(n):
    """Sum the first N cube of natural numbers
    >>>sum_cubes(5)
    225
    """
    total, k = 0, 1
    while k <= n:
        total, k = total + pow(k, 3), k + 1
    return total

In [18]:
def identity(k):
    return k
def cube(k):
    return pow(k, 3)

def summation(n, term):
    """Sum the first N term of sequence
    >>>summation(5, cube)
    225
    """
    total, k = 0, 1
    while k <= n:
        total, k =total + term(k), k + 1
    return total

In [19]:
def sum_naturals(n):
    """Sum the first N natural numbers
    >>> sum_naturals(5)
    5
    """
    return summation(n, identity)

In [20]:
def sum_cubes(n):
    """Sum the first N cube of natural numbers
    >>> sum_cubes(5)
    225
    """
    return summation(n, cube)

In [21]:
from operator import mul

In [22]:
def pi_term(k):
    return 8/mul(4 * k - 3, 4 * k - 1)

In [23]:
def make_adder(n):
    """Return a dunction that takes one arguement called k and return K+N.
    >>> add_three = make_adder(3)
    >>> add_three(4)
    7
    """
    def adder(k):
        return k + n
    return adder

In [24]:
make_adder(2)(1)

3

In [25]:
def apply_twice(f, x):
    return f(f(x))

In [26]:
def square(x):
    return x * x

In [27]:
square(10)

100

In [28]:
apply_twice(square, 3)

81

In [29]:
apply_twice(square, 2)

16

In [30]:
def repeat(f, x):
    while f(x) != x:
        x = f(x)
    return x

def g(y):
    return (y + 5)//3

In [31]:
5//3

1

In [32]:
repeat(g, 5)

2

In [36]:
add_three = make_adder(3)

In [37]:
make_adder(3)

In [38]:
add_three(4)

7

In [39]:
def f(x, y):
    def g(a):
        return a + y
    return g(x)

In [40]:
f(1, 2)

3

In [43]:
def square(x):
    return x * x

def triple(x):
    return 3 * x

def compose1(f, g):
    def h(x):
        return f(g(x))
    return h

In [44]:
square(5)

25

In [45]:
triple(5)

15

In [46]:
squiple = compose1(square, triple)

In [47]:
squiple(5)

225

In [50]:
tripare = compose1(triple, square)

In [51]:
tripare(5)

75

In [53]:
squadder = compose1(square, make_adder(2))

In [54]:
squadder(3)

25

In [56]:
x = 10

In [57]:
square = x * x

In [58]:
square

100

In [59]:
square = lambda x: x * x

In [60]:
square(4)

16

In [61]:
(lambda x: x * x)(3)

9

In [67]:
def search(f):
    x = 0
    while True:
        if f(x):
            return x
        x += 1
        
def is_three(x):
    return x == 3

In [68]:
is_three(5)

False

In [69]:
search(is_three)

2

In [70]:
def square(x):
    return x * x

def positive(x):
    return max(0, square(x) - 100)

In [71]:
search(positive)

11

In [72]:
def inverse(f):
    """Return g(y) such that g(f(x)) -> x."""
    return lambda y: search(lambda x: f(x) == y)
###Only works for perfect squares

In [73]:
square(16)

256

In [74]:
def print_all(x):
    print(x)
    return print_all

In [75]:
print_all(1)(3)(5)

1
3
5

In [76]:
def print_sums(x):
    print(x)
    def next_sum(y):
        return print_sums(x+y)
    return next_sum

In [77]:
print_sums(1)(3)(5)

1
4
9

In [78]:
from math import sqrt

def real_sqrt(x):
    """The real part of the square root of x."""
    if x > 0:
        return sqrt(x)
    else:
        return 0.0

In [80]:
real_sqrt(-4)

0.0

In [83]:
def has_big_sqrt(x):
    return x > 0 and sqrt(x) > 10

In [84]:
has_big_sqrt(1)

False

In [85]:
has_big_sqrt(1000)

True

In [86]:
has_big_sqrt(-1000)

False

In [87]:
def reasonable(n):
    return n == 0 or 1/n != 0

In [88]:
reasonable(10 * 1000)

True

In [89]:
reasonable(10000000000000000)

True

In [90]:
x = 0

In [91]:
abs(1/x if x != 0 else 0)

0

In [94]:
def square_root(a):
    x = 1
    while x * x != a:
        print(x)
        x = square_root_update(x, a)
    return x

def square_root_update(x, a):
    return (x + a/x)/2

In [95]:
square_root(16)

1
8.5
5.1911764705882355
4.136664722546242
4.002257524798522
4.000000636692939
4.000000000000051

4.0

In [97]:
def cube_root(a):
    x = 1
    while x * x * x != a:
        x = cube_root_update(x,a)
    return x

def cube_root_update(x, a):
    return (2 * x +a/(x * x))/3

In [98]:
cube_root(27)

3.0

In [99]:
def improve(update, close, guess = 1):
    while not close(guess):
        guess = update(guess)
    return guess

In [100]:
def approx_eq(x, y, tolerance = 1e-15):
    return abs(x - y) < tolerance

In [101]:
approx_eq(2, 2.000000001)

False

In [102]:
approx_eq(2, 2.000000000000000000001)

True

In [104]:
def square_root(a):
    def update(x):
        return square_root_update(x, a)
    def close(x):
        return approx_eq(x * x, a)
    return improve(update, close)

In [105]:
square_root(2)

1.414213562373095

In [106]:
1.414213562373095*1.414213562373095

1.9999999999999996

In [107]:
approx_eq(1.414213562373095*1.414213562373095, 2)

True

In [108]:
def cube_root(a):
    return improve(lambda x: cube_root_update(x, a),
                   lambda x: approx_eq(x * x * x, a))

In [109]:
cube_root(27)

3.0

In [110]:
def curry2(f):
    def g(x):
        def h(y):
            return f(x, y)
        return h
    return g

In [112]:
from operator import add

In [113]:
add(2, 3)

5

In [114]:
m = curry2(add)

In [115]:
add_three = m(3)

In [117]:
add_three(2)

5

In [118]:
 curry2 =  lambda f: lambda x: lambda y: f(x, y)

In [119]:
def square(x):
    return x * x

def sum_squares_up_to(n):
    k = 1
    total = 0
    while k <= n:
        total, k = total + square(k), k + 1
    return total

In [120]:
square(12)

144

In [121]:
sum_squares_up_to(5)

55

In [123]:
"""The UCB module contains functions specific to 61A projects at UC Berkeley."""

import code
import functools
import inspect
import re
import signal
import sys
import timeit

def main(fn):
    """Call fn with command line arguments.  Used as a decorator.

    The main decorator marks the function that starts a program. For example,

    @main
    def my_run_function():
        # function body

    Use this instead of the typical __name__ == "__main__" predicate.
    """
    if inspect.stack()[1][0].f_locals['__name__'] == '__main__':
        args = sys.argv[1:] # Discard the script name from command line
        fn(*args) # Call the main function
    return fn

_PREFIX = ''
def trace(fn):
    """A decorator that prints a function's name, its arguments, and its return
    values each time the function is called. For example,

    @trace
    def compute_something(x, y):
        # function body
    """
    @functools.wraps(fn)
    def wrapped(*args, **kwds):
        global _PREFIX
        reprs = [repr(e) for e in args]
        reprs += [repr(k) + '=' + repr(v) for k, v in kwds.items()]
        log('{0}({1})'.format(fn.__name__, ', '.join(reprs)) + ':')
        _PREFIX += '    '
        try:
            result = fn(*args, **kwds)
            _PREFIX = _PREFIX[:-4]
        except Exception as e:
            log(fn.__name__ + ' exited via exception')
            _PREFIX = _PREFIX[:-4]
            raise
        # Here, print out the return value.
        log('{0}({1}) -> {2}'.format(fn.__name__, ', '.join(reprs), result))
        return result
    return wrapped


def log(message):
    """Print an indented message (used with trace)."""
    if type(message) is not str:
        message = str(message)
    print(_PREFIX + re.sub('\n', '\n' + _PREFIX, message))


def log_current_line():
    """Print information about the current line of code."""
    frame = inspect.stack()[1]
    log('Current line: File "{f[1]}", line {f[2]}, in {f[3]}'.format(f=frame))


def interact(msg=None):
    """Start an interactive interpreter session in the current environment.

    On Unix:
      <Control>-D exits the interactive session and returns to normal execution.
    In Windows:
      <Control>-Z <Enter> exists the interactive session and returns to normal
      execution.
    """
    # use exception trick to pick up the current frame
    try:
        raise None
    except:
        frame = sys.exc_info()[2].tb_frame.f_back

    # evaluate commands in current namespace
    namespace = frame.f_globals.copy()
    namespace.update(frame.f_locals)

    # exit on interrupt
    def handler(signum, frame):
        print()
        exit(0)
    signal.signal(signal.SIGINT, handler)

    if not msg:
        _, filename, line, _, _, _ = inspect.stack()[1]
        msg = 'Interacting at File "{0}", line {1} \n'.format(filename, line)
        msg += '    Unix:    <Control>-D continues the program; \n'
        msg += '    Windows: <Control>-Z <Enter> continues the program; \n'
        msg += '    exit() or <Control>-C exits the program'

    code.interact(msg, None, namespace)

def time_expr(expr, setup=None, imports=None, number=1000):
    """A convenience function for use with timeit.repeat.  Returns the
    minimum average per-iteration time of of 3 runs in which EXPR
    (a Python expression as a string) is executed NUMBER times.  Before
    executing each loop, executes SETUP (a Python expression as a string)
    and, if IMPORTS is present, executes an import of all these function names
    in IMPORTS (a list or string) from __main__."""
    if type(imports) is str:
        imports = "from __main__ import " + imports
    elif imports is not None:
        imports = "from __main__ import " + ", ".join(imports)
    if setup is None:
        setup = imports or ""
    elif imports is not None:
        setup = imports + "; " + setup
    return min(timeit.repeat(expr, setup, number=number)) / number

def time_expr_str(expr, setup=None, imports=None, number=1000):
    """A readable string representation of the result of
    time_expr(expr,setup,imports,number) in appropriate units."""
    t = time_expr(expr, setup=setup, imports=imports, number=number)
    if t < 0.001:
        return "{} usec".format(int(t * 1e6))
    elif t < 1.0:
        return "{} msec".format(int(t * 1000))
    else:
        return "{} sec".format(int(t))

def desc_time(expr, setup=None, imports=None, number=1000):
    """A description of the result and parameters of 
    time_expr(expr,setup,imports,number) in appropriate units."""

    t = time_expr_str(expr, setup=setup, imports=imports, number=number)
    return "{} loops, best of 3: {} per loop".format(number, t)

In [124]:
def trace1(fn):
    """Returns a version of fn that first print it is called.
    fn - a function of 1 arguement"""
    def traced(x):
        print('Calling', fn, 'on arguement', x)
        return fn(x)
    return traced

In [125]:
@trace1
def square(x):
    return x * x

def sum_squares_up_to(n):
    k = 1
    total = 0
    while k <= n:
        total, k = total + square(k), k + 1
    return total

In [126]:
square(12)

Calling <function square at 0x107f40730> on arguement 12

144

In [127]:
print(print(5))

5
None

In [128]:
def horse(mask):
    horse = mask
    def mask(horse):
        return horse
    return horse(mask)

mask = lambda horse: horse(2)

In [129]:
horse(mask)

2

In [ ]:
def remove(n, digit):
    """Return all digits of non-negative N that not DIGIT, for some non-negative DIGIT less than 10.
    >>> remove(231, 3)
    21
    >>>remove(243132, 2)
    4313"""

In [134]:
# def remove(n, digit):
#     kept, digits = 0, 0
#     while n // 10 != digit or n % 10 != digit:
#         n, last = n // 10, n % 10
#         if n % 10 != last:
#             kept = n // 10
#             digits = last
#     return 10 * kept + last

In [136]:
def remove(n, digit):
    kept, digits = 0, 0
    while n > 0:
        n, last = n // 10, n % 10
        if last != digit:
            kept = kept + last * 10 ** digits
            digits += 1
    return kept

In [137]:
remove(231, 3)

21

In [140]:
2//10

0

In [141]:
def split(n):
    """Split positive n into all but its last digit and its last digit"""
    return n // 10, n % 10

In [142]:
all_but_last, last = split(2020)

In [143]:
all_but_last

202

In [144]:
last

0

Sum digits without a while statement

In [145]:
def sum_digits(n):
    """Return the sum of the digits of positive integer n."""
    if n < 0:
        return n
    else:
        all_but_last, last = split(n)
        return sum_digits(all_but_last) + last

In [146]:
def luhn_sum(n):
    if n < 10:
        return n
    else:
        all_but_last, last = split(n)
        return luhn_sum_double(all_but_last) + last
    
def luhn_sum_double(n):
    all_but_last, last = split(n)
    luhn_digit = sum_digits(2 * last)
    if n < 10:
        return luhn_digit
    else:
        return luhn_sum(all_but_last) + luhn_digit

Convert recursion to iteration

In [148]:
def sum_digits_iter(n):
    digit_sum = 0
    while n > 0:
        n, last = split(n)
        digit_sum = digit_sum + last
    return digit_sum

In [150]:
sum_digits_iter(2020)

4

Cascade function

In [152]:
#version 1
def cascade(n):
    if n < 10:
        print(n)
    else:
        print(n)
        cascade(n // 10)
        print(n)

In [153]:
cascade(12345)

12345
1234
123
12
1
12
123
1234
12345

In [156]:
#version 2
def cascade(n):
    print(n)
    if n > 10:
        cascade(n // 10)
        print(n)

In [157]:
cascade(123456)

123456
12345
1234
123
12
1
12
123
1234
12345
123456

If two implemetations are equally clear, then shorter is usually better

In this case, the longer implemtation is more clear

When learning to write recursion functions, put the base cases first

Both are recursive functions, even through only the first has typical structure

### Inverse cascade

In [160]:
def inverse_cascade(n):
    def grow(n):
        if n < 10:
            print(n)
        else:
            grow(n // 10)
            print(n)
    def shirnk(n):
        if n < 10:
            print(n)
        else:
            print(n)
            shirnk(n // 10)
    grow(n // 10)
    print(n)
    shirnk(n // 10)

In [162]:
inverse_cascade(1234)

1
12
123
1234
123
12
1

### Tree-recursive Process

In [163]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n - 2) + fib(n - 1)

In [164]:
fib(5)

5

In [165]:
fib(10)

55

In [167]:
fib(20)

6765

In [168]:
fib(35)

9227465

In [169]:
@trace
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n - 2) + fib(n - 1)

In [170]:
fib(3)

fib(3):
    fib(1):
    fib(1) -> 1
    fib(2):
        fib(0):
        fib(0) -> 0
        fib(1):
        fib(1) -> 1
    fib(2) -> 1
fib(3) -> 2

2

In [171]:
fib(5)

fib(5):
    fib(3):
        fib(1):
        fib(1) -> 1
        fib(2):
            fib(0):
            fib(0) -> 0
            fib(1):
            fib(1) -> 1
        fib(2) -> 1
    fib(3) -> 2
    fib(4):
        fib(2):
            fib(0):
            fib(0) -> 0
            fib(1):
            fib(1) -> 1
        fib(2) -> 1
        fib(3):
            fib(1):
            fib(1) -> 1
            fib(2):
                fib(0):
                fib(0) -> 0
                fib(1):
                fib(1) -> 1
            fib(2) -> 1
        fib(3) -> 2
    fib(4) -> 3
fib(5) -> 5

5

### Counting Partition

In [173]:
def count_partitions(n, m):
    if n == 0:
        return 1
    elif n < 0:
        return 0
    elif m == 0:
            return 0
    else:
        with_m = count_partitions(n - m, m)
        without_m = count_partitions(n, m - 1)
        return with_m + without_m

In [176]:
count_partitions(6, 3)

7

## List

In [177]:
[41, 43, 47, 49]

[41, 43, 47, 49]

In [178]:
odds = [41, 43, 47, 49]

In [179]:
odds[0]
#element selection expression

41

In [180]:
len(odds)
#call expression

4

In [181]:
odds[3] - odds[2]

2

In [182]:
odds[odds[3] - odds[2]]

47

In [183]:
digits = [1, 8, 2, 8]

In [184]:
#The number of elements
len(digits)

4

In [185]:
#An element selected by its index
digits[3]

8

In [187]:
#Concatenation asn repetition
[2, 7] + digits * 2

[2, 7, 1, 8, 2, 8, 1, 8, 2, 8]

In [188]:
add([2, 7], mul(digits, 2))

[2, 7, 1, 8, 2, 8, 1, 8, 2, 8]

In [190]:
#Nested lists
pairs = [[10, 20], [30, 40]]
pairs[1]

[30, 40]

In [191]:
pairs[1][0]

30

In [192]:
digits = [1, 8, 2, 8]
1 in digits

True

In [193]:
5 in digits

False

In [194]:
'1' == 1

False

In [195]:
'1' in digits

False

In [196]:
[1, 8] in digits
#[1, 8] should be an element in the list [[1, 8], 2, 8]

False

In [197]:
[1, 2] in [3, [1, 2], 4]

True

### For Statement

In [198]:
def count(s, value):
    """Count the number of times that value in sequence s.
    >>>count([1, 2, 1, 2, 1], 1)
    3
    """
    total, index = 0, 0
    while index < len(s):
        element = s[index]
        
        if element == value:
            total = total + 1
        
        index = index + 1
    return total

In [199]:
def count1(s, value):
    """Count the number of times that value in sequence s.
    >>>count([1, 2, 1, 2, 1], 1)
    3
    """
    total = 0
    for element in s:
        if element == value:
            total += 1
    return total

In [200]:
s = [1, 2, 1, 2, 1]
len(s)

5

In [201]:
pairs = [[1, 2], [2, 2], [3, 2],[4, 4]]

In [208]:
def count_same(pairs):
    """Return how many pairs have the same element repeated.
    >>> pairs = [[1, 2], [2, 2], [3, 2],[4, 4]]
    >>> count_same(pairs)
    2
    """
    same_count = 0
    for x, y in pairs:
        if x == y:
            same_count = same_count + 1
    return same_count

In [209]:
count_same(pairs)

2

In [210]:
range(5, 8)

range(5, 8)

In [211]:
list(range(5, 8))

[5, 6, 7]

In [212]:
def sum_below(n):
    total = 0
    for i in range(n):
        total += i
    return total

In [213]:
sum_below(5)

10

In [215]:
def cheer():
    for _ in range(3):
        print('Go Bears!')

In [216]:
cheer()

Go Bears!
Go Bears!
Go Bears!

In [218]:
odds = [1, 3, 5, 7, 9]

In [220]:
[x+1 for x in odds]

[2, 4, 6, 8, 10]

In [221]:
[x for x in odds if 25 % x == 0]

[1, 5]

In [222]:
[x+1 for x in odds if 25 % x == 0]

[2, 6]

In [223]:
def divisors(n):
    return [1] + [x for x in range(2, n) if n % x == 0]

In [224]:
divisors(1)

[1]

In [225]:
divisors(4)

[1, 2]

In [227]:
divisors(9)

[1, 3]

In [228]:
divisors(12)

[1, 2, 3, 4, 6]

In [229]:
divisors(18)

[1, 2, 3, 6, 9]

In [230]:
pair = [1, 2]

In [231]:
from operator import getitem
getitem(pair, 0)

1

In [234]:
from fractions import gcd
#gcd is the greatest common divisor
def rational (n, d):
    """Construct a rational number x that represents n/d."""
    g = gcd(n, d)
    return [n//g, d//g]

In [239]:
# Rational arithmetic

def add_rational(x, y):
    """The sum of rational numbers X and Y."""
    nx, dx = numer(x), denom(x)
    ny, dy = numer(y), denom(y)
    return rational(nx * dy + ny * dx, dx * dy)

def mul_rational(x, y):
    """The product of rational numbers X and Y."""
    return rational(numer(x) * numer(y), denom(x) * denom(y))

def rationals_are_equal(x, y):
    """True iff rational numbers X and Y are equal."""
    return numer(x) * denom(y) == numer(y) * denom(x)

def print_rational(x):
    """Print rational X."""
    print(numer(x), "/", denom(x))
    

# Constructor and selectors

def rational(n, d):
    """A representation of the rational number N/D."""
    def select(name):
        if name == 'n':
            return n
        elif name == 'd':
            return d
    return select

def numer(x):
    """Return the numerator of rational number X."""
    return x('n')

def denom(x):
    """Return the denominator of rational number X."""
    return x(d)

In [238]:
x, y = rational(1, 2), rational(3, 8)
print_rational(mul_rational(x, y))

3 / 16

### Dictionaries

In [240]:
{'I': 1, 'V': 5, 'X': 10}

{'I': 1, 'V': 5, 'X': 10}

In [241]:
numerals = {'I': 1, 'V': 5, 'X': 10}

In [242]:
numerals['X']

10

In [244]:
numerals.keys()

dict_keys(['I', 'V', 'X'])

In [245]:
numerals.values()

dict_values([1, 5, 10])

In [246]:
numerals.items()

dict_items([('I', 1), ('V', 5), ('X', 10)])

In [249]:
items = [('I', 1), ('V', 5), ('X', 10)]
items

[('I', 1), ('V', 5), ('X', 10)]

In [250]:
dict(items)

{'I': 1, 'V': 5, 'X': 10}

In [251]:
dict(items)['X']

10

In [252]:
'X' in numerals

True

In [253]:
numerals.get('X', 0)

10

In [254]:
{x: x * x for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [255]:
odds = [3, 5, 7, 9 , 11]
list(range(1, 3))

[1, 2]

In [256]:
[odds[i] for i in range(1, 3)]

[5, 7]

### Slicing

In [258]:
odds[1:3]

[5, 7]

In [259]:
odds[:3]

[3, 5, 7]

In [260]:
odds[1:]

[5, 7, 9, 11]

In [261]:
odds[:]

[3, 5, 7, 9, 11]

### Sequence Aggregation

In [262]:
max(range(5))

4

In [ ]:
max(0, 1, 2, 3, )

In [263]:
max(range(10), key = lambda x: 7-(x-4)*(x-2))

3

In [265]:
(lambda x: 7-(x-4)*(x-2))(3)

8

In [266]:
(lambda x: 7-(x-4)*(x-2))(2)

7

In [267]:
(lambda x: 7-(x-4)*(x-2))(5)

4

In [268]:
(lambda x: 7-(x-4)*(x-2))(6)

-1

In [269]:
bool(5)

True

In [270]:
bool(True)

True

In [271]:
bool(-1)

True

In [272]:
bool(0)

False

In [273]:
bool('Hello')

True

In [274]:
bool('')

False

In [276]:
range(0, 5)

[range(0, 5)]

In [277]:
[x < 5 for x in range(5)]

[True, True, True, True, True]

In [278]:
all([x < 5 for x in range(5)])

True

In [281]:
list(range(5))

[0, 1, 2, 3, 4]

In [280]:
all(range(5))

False

### Trees

In [282]:
def tree(label, branches=[]):
    for branch in branches:
        assert is_tree(branch), 'branches must be trees'
    return [label] + list(branches)

def label(tree):
    return tree[0]

def branches(tree):
    return tree[1:]

def is_tree(tree):
    if type(tree) != list or len(tree) < 1:
        return False
    for branch in branches(tree):
        if not is_tree(branch):
            return False
    return True

def is_leaf(tree):
    return not branches(tree)

In [283]:
 tree(1)

[1]

In [310]:
is_leaf(1, [5])

TypeError: is_leaf() takes 1 positional argument but 2 were given

In [285]:
t = tree(1, [tree(5, [tree(7)]), tree(6)])
t

[1, [5, [7]], [6]]

In [286]:
label(t)

1

In [287]:
branches(t)

[[5, [7]], [6]]

In [288]:
branches(t)[0]

[5, [7]]

In [289]:
is_tree(branches(t)[0])

True

In [290]:
label(branches(t)[0])

5

### Tree Processing

In [292]:
def fib_tree(n):
    if n <= 1:
        return tree(n)
    else:
        left, right = fib_tree(n-2), fib_tree(n-1)
        return tree(label(left)+label(right), [left, right])

In [293]:
fib_tree(0)

[0]

In [295]:
fib_tree(2)

[1, [0], [1]]

In [296]:
fib_tree(4)

[3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]

In [297]:
label(fib_tree(4))

3

In [301]:
def count_leaves(t):
    """The number of leaves in tree.

    >>> count_leaves(fib_tree(5))
    8
    """
    if is_leaf(t):
        return 1
    else:
        return sum([count_leaves(b) for b in branches(t)])

In [299]:
fib_tree(4)

[3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]

In [302]:
count_leaves(fib_tree(4))

5

In [303]:
fib_tree(10)

[55,
 [21,
  [8,
   [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]],
   [5, [2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]],
  [13,
   [5, [2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]],
   [8,
    [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]],
    [5,
     [2, [1], [1, [0], [1]]],
     [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]]]],
 [34,
  [13,
   [5, [2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]],
   [8,
    [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]],
    [5,
     [2, [1], [1, [0], [1]]],
     [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]]],
  [21,
   [8,
    [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]],
    [5, [2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]],
   [13,
    [5, [2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]],
    [8,
     [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]],
     [5,
      [2, [1], [1, [0], [1]]],
      [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]]]]]]

In [304]:
count_leaves(fib_tree(10))

89

### Creating Trees

In [305]:
def increment_leaves(t):
    """Return a ree like t but with leaf labels incremented"""
    if is_leaf(t):
        return tree(label(t) + 1)
    else:
        bs = [increment_leaves(b) for b in branches(t)]
        return tree(label(t), bs)
    
def increment(t):
    """Return a tree like but with all labels incremented"""
    return tree(label(t) + 1, [increment(b) for b in branches(t)])

In [306]:
def print_tree(t):
    print(label(t))
    for b in branches(t):
        print_tree(b)

In [307]:
print_tree(fib_tree(4))

3
1
0
1
2
1
1
0
1

In [308]:
'  ' * 5 + str(5)

'          5'

In [309]:
print('  ' * 5 + str(5))

          5

In [311]:
def print_tree(t, indent = 0):
    print(' ' * indent + str(label(t)))
    for b in branches(t):
        print_tree(b, indent + 1)

In [312]:
print_tree(fib_tree(4))

3
 1
  0
  1
 2
  1
  1
   0
   1

In [313]:
print_tree(fib_tree(5))

5
 2
  1
  1
   0
   1
 3
  1
   0
   1
  2
   1
   1
    0
    1

### Objects

In [314]:
from datetime import date

In [315]:
date

datetime.date

In [317]:
today = date(2020, 5, 15)
today

datetime.date(2020, 5, 15)

In [320]:
freedom = date(2020, 7, 15)

In [321]:
str(freedom - today)

'61 days, 0:00:00'

In [322]:
today.year

2020

In [323]:
today.month

5

In [324]:
#format the day as a string
today.strftime('%A %B %d')

'Friday May 15'

In [326]:
s = 'Hello'
s.upper()

'HELLO'

In [327]:
s.swapcase()

'hELLO'

###### ASCII Standard

In [329]:
a = 'A'
ord(a)

65

In [330]:
hex(ord(a))

'0x41'

In [331]:
print('\n\n\n')

In [332]:
print('\a\a\a')



###### Unicode Standard

In [334]:
from unicodedata import name, lookup

In [335]:
name('A')

'LATIN CAPITAL LETTER A'

In [336]:
name('a')

'LATIN SMALL LETTER A'

In [337]:
lookup('WHITE SMILING FACE')

''

In [338]:
lookup('SNOWMAN')

''

In [339]:
lookup('SOCCER BALL')

''

In [340]:
lookup('BABY')

''

In [341]:
lookup('BABY').encode()

b'\xf0\x9f\x91\xb6'

### Mutation Operations

In [352]:
suits = ['coin', 'string', 'myriad']
original_suits = suits

In [353]:
suits.pop()

'myriad'

In [354]:
suits.remove('string')
suits

['coin']

In [355]:
suits.append('cup')
suits.extend(['sword', 'club'])
suits

['coin', 'cup', 'sword', 'club']

In [356]:
suits[2] = 'spade'

In [357]:
suits[0:2] = ['heart', 'diamond']
suits

['heart', 'diamond', 'spade', 'club']

In [358]:
original_suits

['heart', 'diamond', 'spade', 'club']

In [359]:
numerals = {'I': 1, 'V': 5, 'X': 10}
numerals

{'I': 1, 'V': 5, 'X': 10}

In [360]:
numerals['X']

10

In [362]:
numerals['X'] = 11
numerals['X']

11

In [363]:
numerals

{'I': 1, 'V': 5, 'X': 11}

In [365]:
numerals['L'] = 50
numerals

{'I': 1, 'V': 5, 'X': 11, 'L': 50}

In [366]:
numerals.pop('X')

11

In [367]:
numerals.get('X')

In [368]:
four = [1, 2, 3, 4]
len(four)

4

In [370]:
def mystery(s):
    s.pop()
    s.pop()

In [371]:
mystery(four)

In [372]:
len(four)

2

In [373]:
def mystery(s):
    s[2:] = []

In [374]:
five = [1, 2, 3, 4, 5]
len(five)

5

In [375]:
mystery(five)

In [376]:
len(five)

2

#### Tuples

In [377]:
(3, 4, 5, 6)

(3, 4, 5, 6)

In [378]:
3, 4, 5, 6

(3, 4, 5, 6)

In [379]:
tuple([3, 4, 5])

(3, 4, 5)

In [380]:
2, #a tuple

(2,)

In [381]:
2 # a number

2

In [389]:
turtle = (1, 2, 3)
turtle

(1, 2, 3)

In [387]:
turtle = [1, 2, 3]
turtle

[1, 2, 3]

In [390]:
s = ([1, 2], 3)
s[0] = 4

TypeError: 'tuple' object does not support item assignment

In [391]:
# An immutable sequence may still change 
#if it contains a mutable value as an element
s = ([1, 2], 3)
s[0][0] = 4
s

([4, 2], 3)

###### Mutation

In [392]:
#A list is still "the same" list even if we change its contents
a = [10]
b = a

In [393]:
a == b

True

In [394]:
a.append(20)
a == b

True

In [395]:
a

[10, 20]

In [396]:
b

[10, 20]

In [397]:
#Conversely, we could have two lists that happen to have the same contents, but are different
a = [10]
b = [10]
a == b

True

In [400]:
b.append(20)
a

[10]

In [399]:
b

[10, 20]

In [401]:
a == b

False

In [402]:
[10] == [10]

True

In [403]:
a = [10]
b = [10]
a == b

True

In [404]:
a is b

False

In [405]:
a.extend([20, 30])
a

[10, 20, 30]

In [406]:
b

[10]

In [407]:
c = b
c is b

True

In [408]:
c.pop()

10

In [410]:
c

[]

In [411]:
b

[]

In [412]:
a

[10, 20, 30]

In [413]:
#A default arguement value is part of a function values, not generated by a call
def f(s=[]):
    s.append(5)
    return len(s)

In [414]:
f()

1

In [415]:
f()

2

In [416]:
f()

3

### Mutable Function
#### A function with behavior that varies over time

In [417]:
def make_withdraw(balance):
    def withdraw(amount):
        nonlocal balance
        if amount > balance:
            return 'Insufficient funds'
        balance = balance - amount
        return balance
    return withdraw

In [418]:
w = make_withdraw(100)
w

In [419]:
w(10)
#100 is the balance, and 10 is the amount will be withdrawed from 100

90

In [420]:
w(10)

80

In [421]:
w(10000)

'Insufficient funds'

###### Non-local Assignment 
###### Effect: Future assignments to that name change its pre-existing binding in the first non-local frame of the current environment in which that  name is bound

In [423]:
#Alternative with non-local assignment
def make_withdraw_list(balance):
    b = [balance]
    def withdraw(amount):
        if amount > b[0]:
            return 'Insufficient funds'
        b[0] = b[0] - amount
        return b[0]
    return withdraw

withdraw = make_withdraw_list(100)
withdraw(25)

75

In [424]:
john = make_withdraw(100)
steven = make_withdraw(100000)

In [425]:
john

In [426]:
steven

In [427]:
john is not steven

True

In [428]:
john == steven

False

In [429]:
john(10)

90

In [430]:
steven(1000)

99000

###### Iterators

In [431]:
s = [[1, 2], 3, 4, 5]
s

[[1, 2], 3, 4, 5]

In [432]:
t = iter(s)
next(t)

[1, 2]

In [433]:
next(t)

3

In [435]:
list(t)
#Only lists the remaining elements

[5]

In [436]:
next(t)

StopIteration:

###### Dictionary Iteration

In [437]:
d = {'one': 1, 'two': 2, 'three': 3}

In [438]:
d['zero'] = 0

In [439]:
d

{'one': 1, 'two': 2, 'three': 3, 'zero': 0}

In [440]:
k = iter(d.keys()) # or iter(d)
next(k)

'one'

In [441]:
next(k)

'two'

In [442]:
next(k)

'three'

In [443]:
next(k)

'zero'

In [444]:
v = iter(d.values())
next(v)

1

In [445]:
next(v)

2

In [446]:
next(v)

3

In [447]:
next(v)

0

In [448]:
i = iter(d.items())
next(i) #The results are tuples

('one', 1)

In [449]:
next(i)

('two', 2)

In [450]:
next(i)

('three', 3)

In [451]:
next(i)

('zero', 0)

###### For Statement

In [452]:
r = range(3, 6)
list(r)

[3, 4, 5]

In [453]:
for i in r:
    print(i)

3
4
5

In [454]:
ri = iter(r)
ri

In [455]:
next(ri)

3

In [456]:
for i in ri:
    print(i)
# 3 is not printed, because 3 has passed

4
5

In [457]:
r

range(3, 6)

In [458]:
ri = iter(r)
for i in ri:
    print(i)

3
4
5

In [459]:
for i in ri:
    print(i)
# nothing is printed, because all elements are passed, and nothing left

###### Built-in Functions for Iteration

In [460]:
bcd = ['b', 'c', 'd']
[x.upper() for x in bcd]

['B', 'C', 'D']

In [461]:
map(lambda x: x.upper(), bcd)

In [462]:
m = map(lambda x: x.upper(), bcd)
next(m)

'B'

In [463]:
next(m)

'C'

In [464]:
next(m)

'D'

In [469]:
def double(x):
    print('**', x, '=>', 2 * x, '**')
    return 2 * x

In [470]:
m = map(double, [3, 5, 7])
next(m)

** 3 => 6 **

6

In [471]:
next(m)

** 5 => 10 **

10

In [472]:
next(m)

** 7 => 14 **

14

In [473]:
m = map(double, range(3, 7))
f = lambda y: y >= 10
t = filter(f, m)
next(t)

** 3 => 6 **
** 4 => 8 **
** 5 => 10 **

10

In [474]:
next(t)

** 6 => 12 **

12

In [475]:
list(t)

[]

In [476]:
list(filter(f, map(double, range(3, 7))))

** 3 => 6 **
** 4 => 8 **
** 5 => 10 **
** 6 => 12 **

[10, 12]

In [477]:
t = [1, 2, 3, 2, 1]
t

[1, 2, 3, 2, 1]

In [478]:
reversed(t)

In [480]:
reversed(t) == t

False

In [481]:
list(reversed(t)) == t

True

In [482]:
d = {'a': 1, 'b':2}
d

{'a': 1, 'b': 2}

In [483]:
items = iter(d.items())
next(items)

('a', 1)

In [484]:
next(items)

('b', 2)

In [485]:
items = zip(d.keys(), d.values())
next(items)

('a', 1)

In [486]:
next(items)

('b', 2)

###### Generators

###### A generator function is a function that yields values instead of returning them.
###### A normal function returns once; a generator function can yield multiple times.
###### A generator is an iterator  created automatically by calling a generator.
###### When a generator function is called, it returns a generator that iterates over its yields.

In [487]:
def plus_minus(x):
    yield x
    yield -x

In [488]:
t = plus_minus(3)
next(t)

3

In [489]:
next(t)

-3

In [490]:
t

In [491]:
3%2

1

In [492]:
def evens(start, end):
    even = start + (start % 2)
    while even < end:
        yield even
        even += 2

In [494]:
t = evens(2, 10)
t

In [495]:
next(t)

2

In [496]:
next(t)

4

In [497]:
next(t)

6

In [498]:
next(t)

8

In [499]:
next(t)

StopIteration:

In [500]:
list(evens(1, 10))

[2, 4, 6, 8]

In [501]:
def countdown(k):
    if k > 0:
        yield k
        for x in countdown(k - 1):
            yield x

In [502]:
def countdown(k):
    if k > 0:
        yield k
        yield from countdown(k - 1)

In [503]:
t = countdown(3)
next(t)

3

In [504]:
next(t)

2

In [505]:
next(t)

1

In [506]:
def prefixs(s):
    if s:
        yield from prefixs(s[:-1])
        yield s

In [507]:
list(prefixs('both'))

['b', 'bo', 'bot', 'both']

In [508]:
def substrings(s):
    if s:
        yield from prefixs(s)
        yield from substrings(s[:-1])

In [509]:
list(substrings('tops'))

['t', 'to', 'top', 'tops', 't', 'to', 'top', 't', 'to', 't']

###### Object-Orientied Programming

In [517]:
class Account:
    """An account has a balance and a holder. 
    All accounts share a common interest rate.
    
    >>> a = Account('John')
    >>> a.holder
    'John'
    >>> a.deposit(100)
    100
    >>> a.withdraw(90)
    10
    >>> a.withdraw(90)
    'Insufficient funds'
    >>> a.balance
    10
    """
    def __init__(self, account_holder): #__init__ has TWO underscore
        self.balance = 0
        self.holder = account_holder
        
    def deposit(self, amount):
        """Add amount to balance."""
        self.balance = self.balance + amount
        return self.balance
    
    def withdraw(self, amount):
        """Substract amount from balance if funds are available."""
        if amount > self.balance:
            return 'Insufficient funds'
        self.balance = self.balance - amount
        return self.balance

In [518]:
Account

__main__.Account

In [519]:
john = Account('John')
john

In [520]:
john.balance

0

In [521]:
john.holder

'John'

In [522]:
john.deposit(10)

10

In [523]:
john.deposit(10)

20

In [524]:
john.deposit(10)

30

In [525]:
john.balance

30

In [526]:
john.withdraw(30)

0

In [527]:
getattr

In [528]:
getattr(john, 'balance')

0

In [529]:
john.deposit(100)

100

In [530]:
getattr(john, 'balance')

100

In [531]:
john.balance

100

In [532]:
hasattr(john, 'balance')

True

In [533]:
hasattr(john, 'lance')

False

###### Class sttributes are "shared" across all instances of a class because they are attributes of the class, not the instance.

In [534]:
class Account:
    interest = 0.03 # A class attibute
    def __init__(self, account_holder):
        self.balance = 0
        self.holder = account_holder
    # Additional methods would be defined here

In [535]:
tom_account = Account('Tom')
jim_account = Account('Jim')
tom_account.interest

0.03

In [536]:
jim_account.interest

0.03

In [537]:
from fractions import Fraction

In [538]:
half = Fraction(1, 2)
half

Fraction(1, 2)

In [539]:
repr(half)

'Fraction(1, 2)'

In [540]:
print(half)

1/2

In [541]:
str(half)

'1/2'

In [542]:
eval(repr(half))

Fraction(1, 2)

In [543]:
eval(str(half))

0.5

In [544]:
s = "Hello, World"
s

'Hello, World'

In [545]:
print(repr(s))

'Hello, World'

In [546]:
print(s)

Hello, World

In [547]:
str(s)

'Hello, World'

In [548]:
repr(s)

"'Hello, World'"

In [549]:
eval(repr(s))

'Hello, World'

In [550]:
repr(repr(repr(s)))

'\'"\\\'Hello, World\\\'"\''

In [551]:
eval(eval(eval(repr(repr(repr(s))))))

'Hello, World'

In [552]:
class Bear:
    """A Bear."""
    def __repr__(self):
        return 'Bear()'

In [554]:
oski = Bear()
print(oski)
print(str(oski))
print(repr(oski))
print(oski.__str__())
print(oski.__repr__())

Bear()
Bear()
Bear()
Bear()
Bear()

In [555]:
class Bear:
    """A Bear."""
    def __repr__(self):
        return 'Bear()'
    
    def __str__(self):
        return 'a bear'

In [556]:
oski = Bear()
print(oski)
print(str(oski))
print(repr(oski))
print(oski.__str__())
print(oski.__repr__())

a bear
a bear
Bear()
a bear
Bear()

In [557]:
class Bear:
    """A Bear."""
    
    def __init__(self):
        self.__repr__ = lambda: 'oski'
        self.__str__ = lambda:'this bear'
        
    def __repr__(self):
        return 'Bear()'
    
    def __str__(self):
        return 'a bear'

In [558]:
oski = Bear()
print(oski)
print(str(oski))
print(repr(oski))
print(oski.__str__())
print(oski.__repr__())

a bear
a bear
Bear()
this bear
oski

In [561]:
def repr(x):
    return type(x).__repr__(x)

def str(x):
    t = type(x)
    if hasattr(t, '__str__'):
        return t.__str__(x)
    else:
        return repr(x)

In [562]:
oski = Bear()
print(oski)
print(str(oski))
print(repr(oski))
print(oski.__str__())
print(oski.__repr__())

a bear
a bear
Bear()
this bear
oski

In [571]:
class Ratio:
    def __init__(self, n, d):
        self.numer = m
        self.denom = d
        
    def __repr__(self):
        return 'Ratio({0}, {1})'.format(self.numer, self.denom)
    
    def __str__(self):
        return '{0}/{1}'.format(self.numer, self.denom)

In [572]:
half = Ratio(1, 2)
print(half)

<map object at 0x107fcb438>/2

In [567]:
half

Ratio(<map object at 0x107fcb438>, 2)

###### Special Method Names in Python

In [573]:
zero, one, two = 0, 1, 2
one + two

3

In [574]:
bool(zero), bool(one)

(False, True)

In [575]:
zero, one, two = 0, 1, 2
one.__add__(two)
# __add__ invoked to add one objet to another

3

In [576]:
zero.__bool__(), one.__bool__()
# __bool__ invoked to convert an object to True or False

(False, True)

In [581]:
class Ratio:
    def __init__(self, n, d):
        self.numer = m
        self.denom = d
        
    def __repr__(self):
        return 'Ratio({0}, {1})'.format(self.numer, self.denom)
    
    def __str__(self):
        return '{0}/{1}'.format(self.numer, self.denom)
    
    def __add__(self, other):
        if isinstance(other, int):
            n = self.numer + self.denom * other
            d = self.denom
        elif isinstance(other, Ratio):
            n = self.numer + self.denom * other
            d = self.denom * other.denom
        g = gcd(n, d)
        return Ratio(n//g, d//g)
    
def gcd(n, d):
    while n != d:
        n, d = min(n, d), abs(n - b)
    return n

In [582]:
Ratio(1, 3) + Ratio(1, 6)

TypeError: unsupported operand type(s) for *: 'int' and 'Ratio'

In [583]:
Ratio(1, 3) + 1

TypeError: unsupported operand type(s) for +: 'map' and 'int'

In [591]:
class Link:
    """A linked list."""
    empty = ()
    def __init__(self, first, rest = empty):
        assert rest is Link.empty or isinstance(rest, Link)
        self.first = first
        self.rest = rest
        
    def __getitem__(self, i):
        if i == 0:
            return self.first
        else:
            return self.rest[i-1]
        
    def __len__(self):
        return 1 + len(self.rest)
    
    def __repr__(self):
        if self.rest:
            rest_str = ', ' + repr(self.rest)
        else:
            rest_str = ''
        return 'Link({0}{1}).format(self.first, rest_str)'
    
    @property
    def second(self):
        return self.rest.first
    
    @second.setter
    def second(self, value):
        self.rest.first = value

In [592]:
s = Link(3, Link(4, Link(5)))
s

Link({0}{1}).format(self.first, rest_str)

In [594]:
s.second

4

In [596]:
s.second = 6
s.second

6

In [597]:
s

Link({0}{1}).format(self.first, rest_str)

###### Tree Class

In [598]:
class Tree:
    """A tree is a label and a list of branches."""
    def __init__(self, label, branches=[]):
        self.label = label
        for branch in branches:
            assert isinstance(branch, Tree)
        self.branches = list(branches)

    def __repr__(self):
        if self.branches:
            branch_str = ', ' + repr(self.branches)
        else:
            branch_str = ''
        return 'Tree({0}{1})'.format(repr(self.label), branch_str)

    def __str__(self):
        return '\n'.join(self.indented())

    def indented(self):
        lines = []
        for b in self.branches:
            for line in b.indented():
                lines.append('  ' + line)
        return [str(self.label)] + lines

    def is_leaf(self):
        return not self.branches
    
    @memo
def fib_tree(n):
    """A Fibonacci tree.

    >>> print(fib_tree(4))
    3
      1
        0
        1
      2
        1
        1
          0
          1
    """
    if n == 0 or n == 1:
        return Tree(n)
    else:
        left = fib_tree(n-2)
        right = fib_tree(n-1)
        fib_n = left.label + right.label
        return Tree(fib_n, [left, right])

def leaves(tree):
    """Return the leaf values of a tree.

    >>> leaves(fib_tree(4))
    [0, 1, 1, 0, 1]
    """
    if tree.is_leaf():
        return [tree.label]
    else:
        return sum([leaves(b) for b in tree.branches], [])

def height(tree):
    """The height of a tree."""
    if tree.is_leaf():
        return 0
    else:
        return 1 + max([height(b) for b in tree.branches])

def prune(t, n):
    """Prune sub-trees whose label value is n.

    >>> t = fib_tree(5)
    >>> prune(t, 1)
    >>> print(t)
    5
      2
      3
        2
    """
    t.branches = [b for b in t.branches if b.label != n]
    for b in t.branches:
        prune(b, n)

def prune_repeats(t, seen):
    """Remove repeated sub-trees

    >>> def fib_tree(n):
    ...     if n == 0 or n == 1:
    ...         return Tree(n)
    ...     else:
    ...         left = fib_tree(n-2)
    ...         right = fib_tree(n-1)
    ...         return Tree(left.label + right.label, (left, right))
    >>> fib_tree = memo(fib_tree)
    >>> t = fib_tree(6)
    >>> print(t)
    8
      3
        1
          0
          1
        2
          1
          1
            0
            1
      5
        2
          1
          1
            0
            1
        3
          1
            0
            1
          2
            1
            1
              0
              1
    >>> prune_repeats(t, [])
    >>> print(t)
    8
      3
        1
          0
          1
        2
      5
    """
    t.branches = [b for b in t.branches if b not in seen]
    seen.append(t)
    for b in t.branches:
        prune_repeats(b, seen)

In [599]:
Tree(1)

Tree(1)

In [614]:
def fib(n):
    if n == 0 or n ==1:
        return n
    else:
        return fib(n - 2) + fib(n - 1)

In [615]:
fib(5)

5

In [616]:
fib(8)

21

In [617]:
def count(f):
    def counted(n):
        counted.call_count += 1
        return f(n)
    counted.call_count = 0
    return counted

In [618]:
fib = count(fib)
fib(2)

1

In [613]:
fib.call_count

48

In [607]:
fib(5)

5

In [608]:
fib.call_count

30